.header{
	width: 100%;
	height: 20%;
	align-content: 	center;
	text-align: 	center;	
	background-color: 	447fed;
	border-bottom:solid 4px;
	border-color: 0d398b;
	/*background-image: linear-gradient(to top, yellow 0%, white 5		0%);*/
	
}
.navbar{
	width: 100%;
	height: 5%;
	text-align: center;	
	align-content: center;
	background-color: 5489ef;	
}
.navbar .navItem{
	width: 20%;
	height: 100%;
	text-align: center;	
	display: inline-block;
	line-height: 270%;
}
.navbar .navItem span{
	vertical-align: middle;
}
.content{
	padding-top: 30px;
	width: 100%;
	height: 85%;
	text-align: center;	
	background-color: fff;
}
.p{
	color: 2569ea;
}